.search-results {
  // padding: 1rem 0;
  display: flex;
  flex-direction: column;
  // grid-area: lista;
  // height: 100%;
  // background-color: blueviolet;
  // position: relative;s
  // background-color: #ccc;
  overflow: scroll;
  overflow-x: hidden;
}

.results {
  list-style: none;
  // margin-bottom: 2rem;
  // height: 80vh;
}

.pagination {
  position: absolute;
  bottom: 0px;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
  // position: absolute;
  // bottom: 0px;
  text-align: center;
  width: 100%;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
